@import 'utilities.css';
/*HEADER*/
/****************************************index*****************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
html{
    height: 112%;
    width: 100%;
}
.indexbody{
    font-family: 'Poppins',sans-serif;
    background-image: url("./Images/bg6.jpg");
    background-size: cover;
    
    height: 100%;
    width: 100%;
}

.indexheader{
    height: 10%;
    width: 100%;
    
}
.indexheader nav .left{
    color: white;
}
.indexheader nav{
    padding: 0 0;
}

.main_head_box{
    width: 70%;
    height : 0%;
    padding: 0 0.08%;
    margin: 0 auto;
}
.main_head_box button{
    height: 300%;
    width: 120px;
    font-size: 1rem;
    border: 2px solid transparent;
    background-color: transparent;
    color:white;
    transition: all 1.5s ease;
    outline:none;
    cursor: pointer;
	position :static;
}
.main_head_box button:hover{
    background: rgb(27, 218, 252);
    border: 2px rgb(3, 77, 119);

}

._3bars {
    max-width: 500px;
    margin:5px auto;
}

/*HEADER END*/


/*MAIN*/
.bgimg{
    padding : 0;
    width: 100%;
    height: 100%;
}

.M_Main_DIV{
    padding-top: 11%;
    padding-left: 23%;
    color: white;
    width: 100%;
}
.M_Main_DIV small{
    text-align: center;
    font-family: cursive;
    font-size: 15px;
}

.M_Main_h1{
    font-size: 50px;
    align-items: center;
    font-weight: 1500px;
    width: 80%;
}

.M_DIV2{
    padding-top: 3%;
    padding-left: 20%;
    color: white;
    width: 100%;
    height: 100px;
    font-weight: 300;
    align-items: center;
}
.M_DIV2 button{
    height: 80%;
    width: 24%;
    margin-left: 5%;
    font-size: 1rem;
    font-weight: 700px;
    border: 2px solid white;
    background-color: transparent;
    color:white;
    transition: all 1.5s ease;
    outline:none;
    cursor: pointer;
}

.M_DIV2 button:hover{
    background: rgb(27, 218, 252);
    border: 2px rgb(3, 77, 119);

}

/*MAIN END*/
/****************************************IndexEnd*****************************/

/****************************************ABOUTME*****************************/
.AMbody{
    font-family: 'Poppins',sans-serif;
    background-image: url(./Images/bg8.jpg);
    background-size: cover;
    
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;
}

.AMheader{
    /*background: rgb(32, 32, 32);*/
    height: 80px;
}
.AMheader nav .left{
    color: white;
}
.AMheader nav{
    padding: 0 0;
}
.AM_MAIN_BODY{
    height: 580px;

}
.AM_SUB_HEADER{
    height: 80px;
}
.AM_SUB_HEADER h1{
    color: white;
    font-size: 65px;
    padding-left: 400px ;
}

.AM_Main_DIV{
    padding: 0 0;
    height: 400px;
    padding-left: 200px;
    padding-top: 80px;
    width: auto;
}
.AM_Main_DIV_IMG{
    height: auto;

}

.AM_Main_TEXT {
    padding-top: 80px;
    padding-left: 20px;
}
.AM_Main_TEXT p{
    font-size: 20px;
    color: white;

    width: 550px;
    font-weight: 600;
}

/************************************ABOUTMEEND***********************************/

/*********************************CONTACT**********************************/
.CMbody{
    font-family: 'Poppins',sans-serif;
    background-image: url(./Images/bg9.jpg);
    background-size: cover;
    
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;
}

.CMheader{
    /*background: rgb(32, 32, 32);*/
    height: 80px;
}
.CMheader nav .left{
    color: white;
}
.CMheader nav{
    padding: 0 0;
}
.CM_MAIN_BODY{
    height: 580px;

}
.CM_SUB_HEADER{
    height: 80px;

}
.CM_SUB_HEADER h1{
    color: white;
    font-size: 50px;
    padding-left: 20px ;
}

.CM_Main_DIV{
    padding-left: 20px;
    height: 160px;
    width:200;

    width: auto;
}
.CM_Main_DIV h4{
    color: white;

}
.CM_Main_DIV_IMG{
    height: auto;

}

.CM_Main_TEXT p{
    font-size: 20px;
    color: white;

    width: 550px;
    font-weight: 600;
}
.CM_Main_TEXT h4 a{
    color: white;
}
.form{
    padding: 20px;
    color:white;
    width: 600px;
    height: 200px;
    border: white 20px;
}
.C hr{
    border: gray 1px solid;
}
.C input[type=submit]{
    background-color: turquoise;
    padding: 10px 20px;
}

/*********************************CONTACTEND**********************************/

/*********************************CONTACT**********************************/
.PMbody{
    font-family: 'Poppins',sans-serif;
    background-image: url(./Images/bg10.jpg);
    background-size: cover;
    
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;
}

.PMheader{
    /*background: rgb(32, 32, 32);*/
    height: 80px;
}
.PMheader nav .left{
    color: white;
}
.PMheader nav{
    padding: 0 0;
}
.PM_MAIN_BODY{
    height: 580px;

}
.PM_SUB_HEADER{
    height: 80px;

}
.PM_SUB_HEADER h1{
    color: white;
    font-size: 50px;
    padding-left: 20px ;
}

.PM_Main_DIV{
    padding-left: 20px;
    height: auto;
    border: white 2px;
    border-width: 10px;

    width: auto;
}
.PM_Main_DIV h4{
    color: white;
}
.PM_Main_DIV h1{
    color: white;
}
.border{
    border-color: white;
    color: white;
    border-width: 2px;
    border: solid;
}
.proj_im{
    width: 40%;
}
.projects1{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    font-size: 18px;
    color: white;

}
.a a{
    text-decoration: none;
    color: white;
}

.a div:hover a{
    color: black;
}

.projects2{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    font-size: 18px;
    color: white;
}
.pad10{
    padding-left: 10px;
}

.PM_Main_TEXT p{
    font-size: 20px;
    color: white;

    width: 550px;
    font-weight: 600;
}
.PM_Main_TEXT h4 a{
    color: white;
}
/*********************************CONTACTEND**********************************/
/*********************************SKILLS**********************************/
.SMbody{
    font-family: 'Poppins',sans-serif;
    background-image: url(./Images/bg12.jpg);
    background-size: cover;
    padding-left: 100px;
    width: 100%;
    height: 100%;
}
.skills{
    color:white;
    font-size:large;
    align-items: left;

}

.progress {
    width: 350px;
    height: 50px;
	color : white;
}
.glow{
    transition: all 1.5s ease;
    outline:none;
    cursor: pointer;
}
.glow div:hover{
    background: white;
    border: 2px rgb(3, 77, 119);
    color: black;
    text-decoration-style: solid;
}
.g{
}
.g div:hover a{
    color: blue;
}
/*********************************SKILLSEND**********************************/